/* 代码书写顺序：1.布局定位属性 2.自身属性 3.文本属性 4.其他属性 */
* {
  margin: 0;
  padding: 0;
}
body {
  background: color #f3f5f7;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 42px;
  margin: 30px auto;
  background-color: white;
}
.logo {
  float: left;
  width: 198px;
  height: 42px;
  background-image: url(./img/logo_03.png);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav {
  float: left;
  margin-left: 60px;
}
.nav ul li {
  float: left;
  margin: 0 15px;
}
.nav ul li a {
  display: block;
  height: 42px;
  padding: 0 10px;
  line-height: 42px;
  color: #050505;
  font-size: 18px;
}
.nav ul li a:hover {
  border-bottom: #00a4ff solid 2px;
  /* color: #00a4ff; */
}
.search {
  float: left;
  width: 412px;
  height: 42px;
  /* background-color: skyblue; */
  margin-left: 5px;
}
.search input {
  float: left;
  width: 345px;
  height: 40px;
  border: 1px solid #00a4ff;
  border-right: none;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 15px;
}
.search button {
  float: left;
  width: 50px;
  height: 42px;
  border: 0;
  background-image: url(./img/btn.png);
}
.user {
  float: right;
  line-height: 42px;
  margin-right: 20px;
  font-size: 14px;
  color: #666;
  margin-left: 20px;
}
.banner {
  height: 421px;
  background-color: #1c036c;
}
.banner .w {
  height: 421px;
  background-image: url(./img/banner2.png);
}
.subnav {
  float: left;
  width: 192px;
  height: 420px;
  background-color: rgb(0, 0, 0, 0.3);
}
.subnav ul li a {
  font-size: 14px;
  color: white;
}
.subnav ul li {
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
}
.subnav ul li a span {
  float: right;
}
.subnav ul li a:hover {
  color: #00a4ff;
}
.course {
  float: right;
  margin-top: 50px;
  width: 230px;
  height: 300px;
  background-color: #fff;
}
.course h2 {
  height: 48px;
  width: 230px;
  background-color: #9bceea;
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 48px;
}
.bd {
  padding: 0 20px;
}
.bd ul li h4 {
  font-size: 16px;
}
.bd ul li p {
  font-size: 12px;
}
.bd ul li {
  padding: 15px 0;
  border-bottom: 1px solid black;
}
.bd .more {
  display: block;
  margin-top: 5px;
  height: 38px;
  border: 1px solid #00a4ff;
  text-align: center;
  line-height: 38px;
  color: #00a4ff;
  font-size: 16px;
  font-weight: 700;
}
